.home {
  text-align: center;
}

.container {
  height: 90%;
  position: absolute;
  right: 10%;
  transform: rotate(90deg);
}

.hr {
  border-bottom: 1px solid gray;
  width: 100%;
  height: 1px;
  margin: 0 auto;
  position: relative;
  bottom: 9px;
}

ul {
  position: relative;
  z-index: 1;
  white-space: nowrap;
  margin: auto;
}

ul li {
  position: relative;
  display: inline-block;
  padding: 1.5em 1.5em 1em;
  color: inherit;
  text-decoration: none;
  margin: 0 -7px;
}

ul li::before {
  border: 0.1em solid #bbb;
}

ul li::before {
  content: ""; /* To generate the box */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0.5em;
  left: 0;
  z-index: -1;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  background: #ddd;
  box-shadow: 0 0 hsla(0, 0%, 100%, 0.5) inset;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}

ul li.selected {
  z-index: 2;
}

ul li.selected::before {
  margin-bottom: -1px;
  border-top-width: 1px;
}

ul li.selected::before {
  background: #eee;
}

.tab {
  position: relative;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  color: white;
}

.tab::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: black;
  transform: perspective(10px) rotateX(3deg);
  border-radius: 10px 10px 0 0;
}
